<%- include ./header %>
    <p class="login_title">YOUR TODOS LIST</p>
    <div class="index_img_div">
        <img src="images/todos.png" alt="">
    </div>
    <div class="index_start_div">
        <div class="index_start">Let's <a href="/users/login">Go</a></div>
        <div class="index_ps">
            <p>🤎Here is my demo. <br>🤎Press "Go" to start.<br>🤎Please login first.</p>
        </div>
    </div>



    <%- include ./footer %>