* {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 16px "Times New Roman", Times, serif;
}

body {
  background-color: rgb(255, 234, 189);
  width: 100%;
}

/*no scroll bar*/
body::-webkit-scrollbar {
  display: none;
}

/* index */

.welcome_title {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0;
}

.up {

  margin: 0px auto;
  width: 70%;
  height: 100px;

}

.add_item {
  float: right;
  padding: 5px;

}

.todo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 0;

}

.todo_text {
  display: inline-block;
  width: 40%;
}

.time {
  display: inline-block;
  position: absolute;
  right: 22%;
  margin-top: 10px;


}

.btn {
  display: inline-block;
  position: absolute;
  right: 16%;
  margin-top: 5px;
}


/* login & register */
.login {
  font-size: 25pt;
  background-color: white;
  opacity: 0.7;
  margin: 0px auto;
  width: 30%;
  padding: 10px;
  padding-bottom: 40px;
  margin-top: 5%;
  border-radius: 10px;
}

.login_title {
  text-align: center;
  font-size: 50pt;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: 'Caveat';
}

.go_register {
  text-align: center;
  font-size: 16pt;
  font-weight: 800;
}

.go_register a {
  text-decoration: none;
  color: black;
  font-size: 20pt;
  font-family: 'Caveat';
  font-weight: 800;
}


/* edit */
.edit {
  font-size: 25pt;
  background-color: white;
  opacity: 0.7;
  margin: 0px auto;
  width: 30%;
  padding: 20pt;
  padding-bottom: 50px;
  margin-top: 5%;
  border-radius: 10px;
}

.edit_title {
  margin: 0;
  margin-bottom: 40pt;
  text-align: center;
  font-size: 40pt;
  font-weight: 700;
  font-family: 'Caveat';
}

.edit_form {
  display: inline;
  width: 100%;
}

label {
  margin-left: 10px;
  margin-right: 10px;
}

input[type="text"].login_form {
  border-radius: 5pt;
  padding: 12px 20px;
  width: 80%;
  height: 15px;
}

input[type="password"].login_form {
  border-radius: 5pt;
  padding: 12px 20px;
  height: 15px;
  width: 80%;
}

input[type="submit"].login_form {
  background-color: black;
  color: white;
  width: 89%;
  margin-left: 36px;
  padding: 5px 10px;
  border-radius: 5pt;
  font-size: 18pt;
  font-family: 'Caveat';
}



input[type="submit"].add_form {
  background: none;
  border: none;
  font-weight: 800;
  font-size: 20px;

}

input[type="submit"].add_form:hover {
  color: coral;
}

input[type="text"].add_form {
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid rgb(177, 166, 166);
}

input[type="submit"].edit_form {
  border: none;
  background: coral;
  color: white;
  font-weight: 500;
  font-size: 20pt;
  border-radius: 10px;
  font-family: 'Caveat';
  width: 45%;
  float: left;
}

input[type="submit"].edit_form:hover {
  border: 2px solid black;

}

input[type="text"].edit_form {
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 30px;
  margin-bottom: 0;
  border: 2px solid rgb(177, 166, 166);
}

/*flash message*/
.error_message {
  width: 100%;
  /*color: rgb(177, 31, 31);*/
  color: rgb(119, 0, 0);
  background-color: pink;
  font-size: 14pt;
  margin-bottom: 10px;
  margin-top: 10px;
}

.success_message {
  width: 100%;
  background-color: rgb(253, 255, 116);
  font-size: 14pt;
}

.notify_message {
  width: 100%;
  text-align: center;
  font-size: 30pt;

}


/*home page*/
.name_text {
  color: coral;
  font-family: 'Caveat';
  font-size: 40pt;
  font-weight: 700;
}

.title_text {
  font-size: 30pt;
  font-weight: 800;
  color: darkslategray;
  font-family: 'Caveat';
}

.add_text {
  font-family: 'Caveat';
  font-size: 18pt;
  font-weight: 800;
  margin-bottom: 0;
  color: saddlebrown;

}

ul.list {
  list-style-type: none;

}

li.list {
  font-size: 20pt;
  background-color: white;
  border: 1px solid saddlebrown;
  margin: 5px;
  margin-left: -30px;
  padding-left: 15px;
  opacity: 0.9;
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  height: 40px;
}

ul.list :hover {
  background-color: rgb(254, 255, 172);
}


.delete_btn {
  background-color: coral;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
}

.list :hover .delete_btn {
  background-color: coral;
}

.edit_btn {
  background-color: darkslategray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.list :hover .edit_btn {
  background-color: darkslategray;
}

.edit_cancel_btn {
  background: black;
  color: aliceblue;
  border: none;
  font-weight: 500;
  font-size: 20pt;
  border-radius: 10px;
  font-family: 'Caveat';
  float: right;
  width: 45%;
}

.edit_cancel_btn:hover {
  border: 2px solid black;
}

.logout {
  float: right;
}

.logout_text {
  text-decoration: none;
  color: darkblue;
  font-size: 20pt;
  font-family: 'Caveat';
  font-weight: 800;

}

/*index*/
.index_img_div {
  display: inline-block;
  width: 40%;
}

.index_img_div img {
  width: 70%;
  display: inline-block;
  margin-left: 10%;
}



.index_start_div {
  float: right;
  width: 60%;
  height: 50px;
}

.index_start {
  margin-top: 60px;
  padding: 10px;
  color: saddlebrown;
  font-family: 'Caveat';
  font-size: 40pt;
}

.index_start a {
  font-size: 40pt;
  font-family: 'Caveat';
  text-decoration: none;
  color: saddlebrown;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  font-weight: 800;

}

.index_ps {
  background-color: white;
  opacity: 0.6;
  margin-top: 20px;
  padding: 10px;
  font-size: 30pt;
  font-family: 'Caveat';
  border-radius: 10px;
  width: 90%;
}

.index_ps p {
  margin-top: 20px;
  padding: 20px;
  font-size: 16pt;
  border-radius: 10px;
  width: 90%;
  line-height: 40px;
}

.password_strength {
  font-weight: 800;
  margin-left: 40px;
}